{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log Out{% endblock %}
{% block content %}
<h1>Log Out</h1>
<p>Are you sure you want to log out?</p>
<form method="post" action="{% url 'accounts/logout' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-danger" type="submit">Log Out</button>
</form>
{% endblock content %}