{% extends "_base.html" %}
{% load static %}
{% block title %}Mon CV{% endblock title %}
{% block content %}
 

    <h1>Mon CV</h1>
    <img class="photo" src="{% static 'images/photo.jpeg' %}">
    <section>
        <h2>Informations personnelles</h2>
        <ul>
            <li><span class="label">Nom:</span> {{ nom }}</li>
            <li><span class="label">Prénom:</span> {{ prenom }}</li>
            <li><span class="label">Téléphone:</span> {{ telephone }}</li>
            <li><span class="label">Email:</span> {{ email }}</li>
        </ul>
    </section>

    <section>
        <h2>Formation</h2>
        <ul>
            {% for formation in formations %}
            <li>
                <h3>{{ formation.titre }}</h3>
                <p>{{ formation.date_debut }} - {{ formation.date_fin }}</p>
                <p>{{ formation.etablissement }}</p>
                <p>{{ formation.ville }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Expérience professionnelle</h2>
        <ul>
            {% for experience in experiences %}
            <li>
                <h3>{{ experience.poste }}</h3>
                <p>{{ experience.date_debut }} - {{ experience.date_fin }}</p>
                <p>{{ experience.entreprise }}</p>
                <p>{{ experience.ville }}</p>
                <ul>
                    {% for tache in experience.taches %}
                    <li>{{ tache }}</li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Compétences</h2>
        <ul>
            {% for competence in competences %}
            <li>{{ competence }}</li>
            {% endfor %}
        </ul>
    </section>

{% endblock content %}