/* Couleur du fond */
body {
    background-color: #494444;
}

/* Appliquer une police différente à tous les titres */
h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* dimensions de la photo */
.photo {
    height: 300px;
    width: auto;
}

/* Appliquer une couleur de texte différente aux titres */
h1 {
    color: #340303;
}

h2 {
    color: #540c0c;
}



h3 {
    color: #641919;
}

/* Appliquer un style de liste à la section "Compétences" */
ul {
    list-style-type: square;
    margin-left: 20px;
}

/* Appliquer un style de liste à la section "Expérience professionnelle" */
ul.experience-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Appliquer un style aux liens pour les différencier du texte normal */
a {
    color: #009688;
}

a:hover {
    color: #26a69a;
}

/* Ajouter une bordure de cadre à la section "Expérience professionnelle" */
.section-experience {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

/* Ajouter une ombre légère à la section "Formation" */
.section-education {
    box-shadow: 1px 1px 3px #ccc;
    padding: 10px;
    margin-bottom: 20px;
}