{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Quizz{% endblock title %}
{% block content %}


<h1> HIIIII</h1>

  <h1>Quiz</h1>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    {% for question in questions %}
      <div class="question">
        <h2>{{ question.question }}</h2>
        {% for choice in question.incorrect_answers %}
          <input type="radio" id="{{ choice }}" name="{{ question.id }}" value="{{ choice }}">
          <label for="{{ choice }}">{{ choice }}</label>
        {% endfor %}
        <input type="radio" id="{{ question.correct_answer }}" name="{{ question.id }}" value="{{ question.correct_answer }}">
        <label for="{{ question.correct_answer }}">{{ question.correct_answer }}</label>
      </div>
    {% endfor %}
    <input type="submit" value="Soumettre la maman à Etienne">
  </form>
{% endblock %}