{% extends '_base.html' %}

{% block content %}
<h1>Quiz Results</h1>
<h1>Your Results</h1>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{ result.user }}</td>
            <td>{{ result.score }}</td>
            <td>{{ result.date }}</td>
        </tr>

    </tbody>
</table>

<h1>Best Results</h1>
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Score</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for x in bestResults %}
        <tr>
            <td>{{ x.user }}</td>
            <td>{{ x.score }}</td>
            <td>{{ x.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}